/*#title{
    color:rgb(185, 127, 255);
} 
.title{
    color:red;
}
.subtitle{
    color:blue;
}
#contact-us{
    color:green;

}
h2{
    color:aquamarine;
}
h2[class=subtitle]{

}
#services{
    color:beige;
}

li:first-child{
    color:steelblue;
}
li:last-child{
    color:steelblue;
}
li:nth-child(2){
    color:steelblue;
}

}
img[src="../img/"]{
    border:10px solid black;
}
h2[class~=article-subttitle]{
    background-color: blueviolet;
}
*/
#google-link:link{
    color:aquamarine;

}
#google-link:visited{
    color:rgb(185, 127, 255);

}
body {
	background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
	font-size: 1.15em;
	text-align: justify;
	font-family: "Lato", sans-serif;
}

input, textarea {
	display: block;
	margin: 10px;
}

#title {
	color: rgb(186, 133, 9);
	font-family: "Sarabun", sans-serif;
}

.subtitle {
	color: rgb(200, 148, 30);
	font-family: "Sarabun", sans-serif;
}

.link {
	text-decoration: underline;
}

.italics {
	font-style: italic;
}

#about-us-image {
	height: 300px;
	width: 60%;

	border: 6px solid rgb(28, 28, 79);
	margin: 80px 40px;

	float: right;
}

.site-table {
	display: inline-block;
}

.container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 300px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-item {
	background: rgb(206, 236, 8);
  color: white;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 50px;
  margin: 10px; 
}

.grid-container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 500px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 40px;
  margin: 10px; 
}


.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
	transform: matrix(1, 0.45, 0.45, 1, 100, 50);
}

.submit-button:hover {
	background: rgb(14, 93, 228);
	padding: 20px 30px;
}

@keyframes red-to-black {
	0% {
		background: red; 
		transform: translate(0px, 0px);
	}

	50% {
		background: yellow; 
		transform: translate(10px, 10px);
	}

	100% {
		background: black; 
		transform: translate(20px, 20px);
	}
}